body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px; /* Ajuste de margem para evitar sobreposição com o cabeçalho */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    margin-top: 20px;
    text-align: left;
}

.hidden {
    display: none;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho esteja acima de outros elementos */
}

.header h1 {
    margin: 0;
}

.footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Garante que o rodapé esteja acima de outros elementos */
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .footer {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .footer {
        padding: 5px;
    }
}
